@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4f5d73;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* chat box section */

.chat-box {
    width: 400px;
    height: 450px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}


/* about client */

.client {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    background-color: #77b3d4;
    padding: 15px;
}

.client img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-info {
    color: #fff;
    padding: 15px;
}

.client-info p {
    color: #008000;
    font-weight: bold;
    font-size: 0.8em;
}


/* chat section */

.chats {
    width: 100%;
    padding: 0 15px;
    color: #fff;
    position: relative;
    font-size: 0.9em;
}

.client-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #4f5d73c7;
    padding: 7px 10px;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
}

.my-chat {
    width: 60%;
    word-wrap: break-word;
    background-color: #77b3d4c7;
    padding: 7px 10px;
    border-radius: 10px 10px 0 10px;
    margin: 5px 0 5px auto;
}


/* input section */

.chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.chat-input input {
    width: calc(100% - 40px);
    height: 100%;
    background-color: #4f5d7321;
    border-radius: 50px;
    color: #000;
    font-size: 1.2em;
    padding: 0 15px;
}

.send-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.send-btn:active {
    transform: scale(0.85);
}

.send-btn img {
    width: 100%;
    height: 100%;
}


/* chat box button section */

.chat-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
}

.chat-btn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    transition: 0.4s ease-in-out;
}

.chat-btn:hover img {
    transform: rotate(30deg);
}